.container {
  background-image: url('https://37.media.tumblr.com/tumblr_mbha9qWF401qcixnko4_500.gif');
  width: 100%;
  height: 100vh !important;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.max-height {
  margin-top: 30px;
  width: 100%;
}

.touchable {
  pointer-events: painted;
}

.wrapper {
  display: flex;
  width: 505px;
  height: 500px;
  flex-wrap: wrap;
  flex-direction: row
}

.card__container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
}

.card__questions-wrapper {
  width: 100%;
  height: 340px;
  margin-top: 50px;
}

.card__container--center {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__questions__text {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.card__questions__title {
  font-size: 25px;
  color: white;
  text-align: center;
}

.card__questions__title__end-card {
  font-size: 35px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.card__back-button {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50px;
  background-color: red;
  border: 0px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.card__questions {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #F0121D;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
}

.section {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 200px;
  margin: 20px;
  background-color: #F0121D;
  border: 1px solid white;
}

.section--big {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 125px;
  margin: 20px;
  background-color: #F0121D;
  border: 1px solid white;
}

.section__title {
  font-family: 'Marvel';
  font-size: 80px;
  color: white;
  margin: 0;
}

.section__title--small {
  font-family: 'Marvel';
  font-size: 80px;
  color: white;
  margin: 0;
  font-size: 55px;
}

.comic-image {
  width: 100px;
  height: auto;
}

.comic-image--large {
  width: 300px;
  height: auto;
}

.ReactTable .rt-th, .ReactTable .rt-td {
  white-space: unset !important;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container .cards_container .card_container {
  height: 750px !important;
}